(
    GamepadButtons: {
        0: // player handle
        {
            Start: "QUIT_APP_PLYR1",
            RightTrigger2: "SHOOT_PLYR1",
            South: "SHOOT_PLYR1",
            Select: "BACK_PLYR1",
        },
        1: {
            South: "SHOOT_PLYR2",
            RightTrigger2: "SHOOT_PLYR2",
            Start: "QUIT_APP_PLYR2",
            Select: "BACK_PLYR2",
        },
        2: {
            Select: "BACK_PLYR3",
            Start: "QUIT_APP_PLYR3",
            South: "SHOOT_PLYR3",
            RightTrigger2: "SHOOT_PLYR3",
        },
        3: {
            Start: "QUIT_APP_PLYR4",
            Select: "BACK_PLYR4",
            South: "SHOOT_PLYR4",
            RightTrigger2: "SHOOT_PLYR4",
        },
    },
    GamepadAxis: {
        3: {
            LeftStickXPositive: "MOVE_RIGHT_PLYR4",
            LeftStickYPositive: "MOVE_FORWARD_PLYR4",
            RightStickYPositive: "AIM_UP_PLYR4",
            RightStickXNegative: "AIM_LEFT_PLYR4",
            LeftStickYNegative: "MOVE_BACKWARD_PLYR4",
            LeftStickXNegative: "MOVE_LEFT_PLYR4",
            RightStickYNegative: "AIM_DOWN_PLYR4",
            RightStickXPositive: "AIM_RIGHT_PLYR4",
        },
        2: {
            RightStickYNegative: "AIM_DOWN_PLYR3",
            RightStickXNegative: "AIM_LEFT_PLYR3",
            LeftStickYNegative: "MOVE_BACKWARD_PLYR3",
            LeftStickXNegative: "MOVE_LEFT_PLYR3",
            RightStickYPositive: "AIM_UP_PLYR3",
            RightStickXPositive: "AIM_RIGHT_PLYR3",
            LeftStickXPositive: "MOVE_RIGHT_PLYR3",
            LeftStickYPositive: "MOVE_FORWARD_PLYR3",
        },
        1: {
            LeftStickXPositive: "MOVE_RIGHT_PLYR2",
            RightStickYPositive: "AIM_UP_PLYR2",
            LeftStickYPositive: "MOVE_FORWARD_PLYR2",
            LeftStickXNegative: "MOVE_LEFT_PLYR2",
            RightStickXNegative: "AIM_LEFT_PLYR2",
            RightStickXPositive: "AIM_RIGHT_PLYR2",
            RightStickYNegative: "AIM_DOWN_PLYR2",
            LeftStickYNegative: "MOVE_BACKWARD_PLYR2",
        },
        0: {
            RightStickXPositive: "AIM_RIGHT_PLYR1",
            LeftStickYPositive: "MOVE_FORWARD_PLYR1",
            RightStickYNegative: "AIM_DOWN_PLYR1",
            RightStickYPositive: "AIM_UP_PLYR1",
            LeftStickYNegative: "MOVE_BACKWARD_PLYR1",
            LeftStickXNegative: "MOVE_LEFT_PLYR1",
            RightStickXNegative: "AIM_LEFT_PLYR1",
            LeftStickXPositive: "MOVE_RIGHT_PLYR1",
        },
    },
    DeadZone: {
        "AIM_DOWN_PLYR2": 0.1,
        "AIM_LEFT_PLYR4": 0.1,
        "MOVE_RIGHT_PLYR1": 0.25,
        "MOVE_RIGHT_PLYR4": 0.25,
        "AIM_RIGHT_PLYR3": 0.1,
        "AIM_DOWN_PLYR1": 0.1,
        "MOVE_BACKWARD_PLYR3": 0.25,
        "AIM_DOWN_PLYR3": 0.1,
        "MOVE_FORWARD_PLYR2": 0.25,
        "MOVE_FORWARD_PLYR1": 0.25,
        "AIM_LEFT_PLYR1": 0.1,
        "AIM_DOWN_PLYR4": 0.1,
        "MOVE_FORWARD_PLYR3": 0.25,
        "AIM_UP_PLYR3": 0.1,
        "MOVE_LEFT_PLYR1": 0.25,
        "AIM_RIGHT_PLYR4": 0.1,
        "MOVE_LEFT_PLYR4": 0.25,
        "MOVE_BACKWARD_PLYR2": 0.25,
        "AIM_LEFT_PLYR3": 0.1,
        "AIM_UP_PLYR1": 0.1,
        "AIM_UP_PLYR2": 0.1,
        "MOVE_RIGHT_PLYR2": 0.25,
        "MOVE_BACKWARD_PLYR1": 0.25,
        "MOVE_FORWARD_PLYR4": 0.25,
        "AIM_UP_PLYR4": 0.1,
        "MOVE_LEFT_PLYR3": 0.25,
        "MOVE_RIGHT_PLYR3": 0.25,
        "MOVE_BACKWARD_PLYR4": 0.25,
        "MOVE_LEFT_PLYR2": 0.25,
        "AIM_LEFT_PLYR2": 0.1,
        "AIM_RIGHT_PLYR1": 0.1,
        "AIM_RIGHT_PLYR2": 0.1,
    },
    EventPhase: {
        "BACK_PLYR3": OnEnded,
        "BACK_PLYR4": OnEnded,
        "SHOOT_PLYR3": OnBegin,
        "SHOOT_PLYR1": OnBegin,
        "SHOOT_PLYR2": OnBegin,
        "SHOOT_PLYR4": OnBegin,
        "QUIT_APP_PLYR1": OnEnded,
        "QUIT_APP_PLYR2": OnEnded,
        "QUIT_APP_PLYR4": OnEnded,
        "BACK_PLYR2": OnEnded,
        "BACK_PLYR1": OnEnded,
        "QUIT_APP_PLYR3": OnEnded,
    },
)