name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly-2020-12-07
        components: rustfmt, clippy
        override: true
     
    - name: Install alsa
      run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev

    - name: Install udev
      run: sudo apt-get update; sudo apt-get install --no-install-recommends libudev-dev
        
    - name: Build
      run: cargo build --verbose
      
    - name: Run tests
      run: cargo test --verbose
      
    - name: Formatting Check
      run: cargo +nightly-2020-12-07 fmt -- --check
    
    - name: Run clippy
      run: cargo clippy -- -D warnings
